.App {
  /*text-align: center;*/
  padding: 36px;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.conatiner-table{
  padding-top: 36px;
  padding-bottom: 36px;
}

.container-img-logomarca img{
  transition: all .5s ease;
}

.container-img-logomarca .labelAddFoto{
    position: absolute;
    opacity: 0;
    top: 46%;
    left: 24%;
    z-index: 9;
    transition: all .5s ease;
}

.container-img-logomarca{
  text-align: center;
  font-weight: bold;
}

.container-img-logomarca img:hover {

  opacity: 0.5;
  cursor: pointer;

}

.container-img-logomarca:hover > .labelAddFoto{

  opacity: 1;

  cursor: pointer;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
